<!DOCTYPE html>
<html lang="en">
<head>
   <title>{{ title }}</title>
   <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
   <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
   {% block stylesheets %}{% end %}
   <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
   <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
</head>
<body>
   {% block meta %}
      {% set sitename='application' %}
   {% end %}
   
   <div class="navbar navbar-inverse navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container-fluid">
         <a class="brand" href="#">{{ title }}</a>
         <ul class="nav">
            <li {% if sitename=='application' %}class="active"{% end %}>
               <a href="/">Application</a>
            </li>
            <li {% if sitename=='about' %}class="active"{% end %}>
               <a href="/about">About</a>
            </li>
         </ul>
         {% block extend_titlebar %}{% end %}
       </div>
     </div>
   </div>
   
   <div class="container" id="notifications">
      {% for notification in notifications %}
      <div class="row">
         <div class="offset4 span4">
         <div class="fade in alert{% if notification[0] == 0 %} alert-info{% elif notification[0] == 2 %} alert-error{% end %}">
           <button type="button" class="close" data-dismiss="alert">×</button>
           {{ notification[1] }}
         </div>
         </div>
      </div>
      {% end %}
   </div>
   
   <div class="container-fluid" id="content">
      {% block content %}{% end %}
   </div>
   
   <script src="/static/js/jquery-1.8.0.js"></script>
   <script src="/static/js/bootstrap.js"></script>
   <script src="/static/js/main.js"></script>
   {% block js %}{% end %}
</body>
</html>